/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure body and html take up full space */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Optional: Prevent horizontal scrolling */
}

body {
    font-family: Arial, sans-serif;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    margin: 0px 0;
  }
  